@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Oswald&display=swap&subset=cyrillic-ext');
html{
    font-size: 10px;    
}
body{
    background: rgba(175, 175, 175, 0.4);
    font-family: 'Oswald', sans-serif;
}
#main-box{
    background: rgb(175, 175, 175);
    position: relative;
}
.header{
    display: flex;    
    justify-content: space-around;
}
.country{    
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    color:white;
    padding: 15px 10px;
    transition: 0.2s;
    letter-spacing: 10px;
}
.country:hover{
    cursor: pointer;   
    color:rgb(30, 253, 0);
}
.title{
    color:white;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    z-index: 10;
    padding: 10px;
    text-indent: 10px;
    margin: 0;
    font-size:2.7rem;
    text-align: justify;
    line-height: 3rem;
}
.hoverEffect{
    box-sizing: border-box;
}
.hoverEffect:hover{    
    border: 2px solid gray;    
}
#ua{
    background: url(../img/ukraine.png) 50% no-repeat;
    background-size: 70% 100%; 
}
#gb{
    background: url(../img/UG.png) 50% no-repeat;
    background-size: 70% 100%; 
}
#us{
    background: url(../img/usa.png) 50% no-repeat;
    background-size: 70% 100%;
}
#de{
    background: url(../img/germany.png) 50% no-repeat;
    background-size: 75% 100%;
}
.active{
    color: rgb(0, 255, 234);
}

#burger{
    width: 30px;
    position: fixed;
    right: 30px;
    top: 30px;
    display: none;
    z-index: 200;
}
@media (max-width:767px){
    .title{
        font-size: 2rem;
        line-height: 2rem;
    } 
    #de{
        background-size: 70% 100%;
    }
    #burger{
        display: block;
    }
    .header{
        display: none;
    }
    .activeBurger{
        display: flex;
        position: fixed;
        top: 0;
        z-index: 100;
    }    
}

